body,
html{
    height:auto;
}
body{
    background: url ("../images/horse.jpg");
    margin: 0px;
}
.main header { 
    position: relative;
}
body.main header nav{
    width: 100%;
    text-align: center;
    background:  #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 10;
}
body.main header nav ul{
    max-width: 1100px;
    width: 100%;
    display: inline-block;
    text-align: top;
    margin: 0px;
    padding: 0px;
}
body.main header nav li{
    display: inline-block;
    margin-right: 2%;
}
body.main header nav a{
    color:#A80A0A ;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    display: block
}
.fon{
    display: block;
    max-width: 100%;
    margin: 0px auto;
    margin-top: -100px;
}
.team{
    max-width: 1280px;
    width: 100%;
    display: block;
    margin: 0px auto;
    text-align: center;
    background: #fff;
    position: relative;
    padding-bottom: 20px;
}
.team table{
    width: 100%;
    min-height: 30px;
}
.team td{
    width: 50%;
    color:#000;
    text-align: center;
}	
.team img{
    float:left;
    margin-right: 0px;
    
}
.clr{
    clear: both;
}
.team img+span~span{
    margin-top: 10px;
    display: block;
}
.team img+span{
    margin-top: 40px;
    display: block;
}
.team .main-img{
    max-width: 60%;
    display: inline-block;
    margin:0px auto;
    float: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
.div1{
    display: block;
    width: 810px;
    margin:0px auto;
    
}
.gallarry{
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}
.gallarry a{
    display: block;
    float: left;
    width: 49.8%;
    height: 250px;
    background-size: 1000px;
    background-position:center center;
    margin: 0.1%;
    background-repeat: no-repeat; 
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
}
.gallarry a.img1 {
   
    background-image: url(../images/img1.jpg);
}
.gallarry a.img2 {
    background-image: url(../images/img2.jpg);
}
.gallarry a.img3 {
    background-image: url(../images/img3.jpg);
}
.gallarry a.img4 {
    background-image: url(../images/img4.jpg);
}

#lightbox-secNav-btnClose {
    width: 66px; 
    float: right;
    padding-bottom: 0.7em;  
}
#lightbox-container-image-box{
    width: 90%!important; 
    height: auto!important;
}
#lightbox-container-image-box #lightbox-image{
    width: 100%;
}
#lightbox-container-image-data { 
    padding: 0 10px; 
    color: #666; 
    display:none;
}
.gallarry a.dn{
    display: none;
}
footer {
    position: relative;
    padding: 0px;
    background: #AF0000; 
    color: #fff; 
    width: 100%; 
    font-family: Arial;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer span {
    display: block;
    margin-left: 20px;
    float: left;
}
body.main header nav a:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    color: #ED0C0C;
    text-decoration: underline;
    
} 
.footerWrap {
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 0px auto;
}
.footerWrap a {
    display: block;
    float: right;
    height: 25px;
    width:25px;
    background-size: 25px!important;
    margin-left: 10px;
}
.footerWrap .fc {
    background: url(../images/fc.jpg) no-repeat center center;
    margin-right: 20px;
}
.footerWrap .in {
    background: url(../images/in.jpg) no-repeat center center;
}
.chs {
    max-width: 1280px;
    width: 100%;
    display: block;
    margin: 5px auto;
    text-align: center;
    background: #FFF;
    position: relative;

}
.parallelogram td div {
    width: 40px;
    height: 30px;
    background: #8734f7;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    border-right: 10px solid green;
    display: inline-block;
    margin-right: 15px;
    
}
.parallelogram {
    width: 100%;
}
.parallelogram td div span {
    display: block;
     -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    text-align: center;
    line-height: 30px;
}
.parallelogram td {
    width: 20%;
    text-transform: uppercase;
    
}
.parallelogram td > span{
    display: inline-block;
}
.st{
    display: block;
    width: 90%;
    margin: 0px auto;
}
.parallelogram td img{
    display: block;
    min-width: 80%;
    margin: 0px auto;
}
.histori img{
    float: none !important;
}  
.mh{
    text-align: center;
}
 .histori{
     margin-top: 90px;
     display: inline-block;
 }   
    