body,
html{
    height:auto;
}body{
    background: grey;
    background-image:url("../images/fon2.jpg");
}
.main header { 
    position: relative;
}
body.main header nav{
    width: 100%;
    text-align: center;
    background:  #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
body.main header nav ul{
    max-width: 1100px;
    width: 100%;
    display: inline-block;
    text-align: top;
    margin: 0px;
    padding: 0px;
}
body.main header nav li{
    display: inline-block;
    margin-right: 2%;
}
body.main header nav a{
    color: #AF0000;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
}
body.main header div {
    background-image:url("../images/fon.jpg");
    background-size: 100% 350px;
    background-repeat: no-repeat;
    height: 350px;
    width:100%;
}
.team{
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 0px auto;
    text-align: center;
    background: #fff;
}
.team table{
    width: 100%;
    min-height:30px;
}
.team td{
    width: 50%;
    color:#000;
    text-align: center;
}	
.team img{
    float:left;
    margin-right: 40px;
    
}
.clr{
    clear: both;
}
.team img+span~span{
    margin-top: 10px;
    display: block;
}
.team img+span{
    margin-top: 40px;
    display: block;
}
.team .main-img{
    max-width: 60%;
    display: inline-block;
    margin:0px auto;
    float: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
.div1{
    display: block;
    width: 810px;
    margin:0px auto;
    
}
.gallarry{
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}
.gallarry a{
    display: block;
    float: left;
    width: 49.8%;
    height: 250px;
    background-size: 1000px;
    background-position:center center;
    margin: 0.1%;
    background-repeat: no-repeat; 
}
#lightbox-secNav-btnClose {
    width: 66px; 
    float: right;
    padding-bottom: 0.7em;  
}
#lightbox-container-image-box{
    width: 90%!important; 
    height: auto!important;
}
#lightbox-container-image-box #lightbox-image{
    width: 100%;
}
#lightbox-container-image-data { 
    padding: 0 10px; 
    color: #666; 
    display:none;
}
.gallarry a.dn{
    display: none;
}
#footer {
    position: relative;
    left: 0; bottom: 0;
    padding: 40px;
    background: #AF0000; 
    color: #fff; 
    width: 100%; 
    font-family: Arial;
    font-size: 15px;
}